# Practical Statistics for Data Scientists

source : https://github.com/gedeck/practical-statistics-for-data-scientists/blob/master/python/notebooks/Chapter%201%20-%20Exploratory%20Data%20Analysis.ipynb

This notebook is a summary of the key points to be extracted from the Book **Practical Statistics for Data Scientists** by Peter Bruce, Andrew Bruce and Peter Gedeck

I will gather the most important concepts as well as python codes that can constitute strong basis for future structured analysis. I will also put some standard concepts as a quick reminder and others that might seem simple but that I am not familiar with.

In [15]:
#Imports
import numpy as np
import pandas as pd

from scipy.stats import trim_mean
import wquantiles

In [2]:
try:
    import common
    DATA = common.dataDirectory()
except ImportError:
    DATA = Path().resolve() / 'data'

In [3]:
# file load
STATE_CSV = DATA / 'state.csv'

## 1. Estimates of Location

In [5]:
state = pd.read_csv(STATE_CSV)
state.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [6]:
#mean
state['Population'].mean()

6162876.3

**Trim mean** : This is the mean of the dataset after the smallest 10% and largest 10% of values have been removed from the dataset. (Moyenne tronquée)

In [8]:
#trim_mean
trim_mean(state['Population'],0.1)

4783697.125

In [10]:
#median
state['Population'].median()

4436369.5

**Weighted Mean** : (Moyenne Pondérée)

In [13]:
#normal mean
state['Murder.Rate'].mean()

4.066

In [14]:
#Weighted mean
np.average(state['Murder.Rate'],weights=state['Population'])

4.445833981123393

**Weighted Median** : (Mediane Pondérée)

In [16]:
wquantiles.median(state['Murder.Rate'],weights=state['Population'])

4.4

- **Median** and **Weighted Median** are considered **Robust estimates** cause they are less afflicted by outliers